*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
workspace.xml
local.properties
ks.properties
.classpath
.project
lint.xml
protected_strings.xml
/dist
/dexguard
googlePlay/
captures/